# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# IDE files
.idea/
*.iml

# macOS files
.DS_Store
